:root {
  --font-color: #404040;
  --primary-color: lightgray;
  --reverse-color: grey;
}
h1 {
  font-family: "Playfair Display", serif;
}
p,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

footer {
  font-size: 36px;
}
.hero {
  background: var(--primary-color);
  text-align: center;
  color: var(--font-color);
  padding: 160px 0;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0px;
}

.hero h1 {
  font-size: 96px;
}
.hero h2 {
  font-size: 24px;
  line-height: 2;
  margin-bottom: 15px;
}
.contact {
  padding: 15px 20px;
  margin-bottom: 15px;
  font-size: 18px;
  box-shadow: 10px 5px 5px var(--reverse-color);
}
.contact:hover {
  background-color: var(--font-color);
  color: var(--primary-color);
  border: none !important;
}
